<div class="footer border-top mt-5">
      <div class="footer-links">

      <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      RENT A BOYFRIEND© 2021 - Le Wagon Mauritius - Batch #712
    </div>
