<h1>this is boyfriend index</h1>
<ul>
  <% @boyfriends.each do |boyfriend| %>
    <li>
      <%= link_to boyfriend_path(boyfriend) do %>
        <%= boyfriend.first_name%>
        <%= boyfriend.last_name %>
      <% end %>
    </li>

  <% end %>
</ul>
