<h1>this is boyfriend index</h1>
<ul>
  <% @boyfriends.each do |boyfriend| %>
    <li>
      <%= link_to boyfriend_path(boyfriend) do %>
        <a href="#">
          <%= boyfriend.first_name%>
          <%= boyfriend.last_name %>
        </a>
      <% end %>
    </li>

  <% end %>
</ul>
